@import 'colors';

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.rel { position: relative; }

.bred {
	border: 1px solid red;
}

// this is my own animation

.slideX-enter-active, .slideX-leave-active {
	transition: all .3s ease;
	position: absolute;
	width: 100%;
}

.slideX-enter, .slideX-leave-to {
	transform: translateX(-50px);
	opacity: 0;
}

// ========================================
// sort animation
// ========================================

.sort-move { transition: all .4s; }

.sort-enter-active, .sort-leave-active {
  transition: all .4s;
}
.sort-leave-active {
	position: absolute;
}
.sort-enter, .sort-leave-to {
  opacity: 0;
  // transform: translateY(10px);
}

.sort {
	// position: relative;
  // backface-visibility: hidden;
  // z-index: 1;
}

// tree styles **************************************** 
.tree-highlights .tree-node.matched > .tree-content {
  background: $yellow;
}
.tree-highlights .tree-node.selected > .tree-content {
  background-color: #B2D1FF;
	.tree-anchor {
		// color: #fff;
	}
}

.tree > .tree-filter-empty {
	margin: 1rem;
	font-size: 1.1rem;
	padding: .5rem 2rem;
	border: 3px double #333;
}

.application--wrap {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

.application.theme--light {
  background: $grey;
  // background: #FFFBF0;
  // background: #FFF1E5;
  color: rgba(0,0,0,0.87);
	.v-navigation-drawer { background: $grey; }
	// .v-navigation-drawer { background: #FFE5CF; }
	.v-toolbar { background: #F2F2F3; }
}
.application.theme--light .text--primary {
  color: rgba(0,0,0,0.87) !important;
}
.application.theme--light .text--secondary {
  color: rgba(0,0,0,0.54) !important;
}
.application.theme--light .text--disabled {
  color: rgba(0,0,0,0.38) !important;
}
.application.theme--dark {
  background: #303030;
  color: #fff;
}
.application.theme--dark .text--primary {
  color: #fff !important;
}
.application.theme--dark .text--secondary {
  color: rgba(255,255,255,0.7) !important;
}
.application.theme--dark .text--disabled {
  color: rgba(255,255,255,0.5) !important;
}
