@import 'colors';

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.rel { position: relative; }

.bred {
	border: 1px solid red;
}

// this is my own animation

.slideX-enter-active, .slideX-leave-active {
	transition: all .3s ease;
	position: absolute;
	width: 100%;
}

.slideX-enter, .slideX-leave-to {
	transform: translateX(-50px);
	opacity: 0;
}

// ========================================
// sort animation
// ========================================

.sort-move { transition: all .4s; }

.sort-enter-active, .sort-leave-active {
  transition: all .4s;
}
.sort-leave-active {
	position: absolute;
}
.sort-enter, .sort-leave-to {
  opacity: 0;
  // transform: translateY(10px);
}

.sort {
	// position: relative;
  // backface-visibility: hidden;
  // z-index: 1;
}

// tree styles **************************************** 
.tree-highlights .tree-node.matched > .tree-content {
  background: $yellow;
}
.tree-highlights .tree-node.selected > .tree-content {
  background-color: #C2C6CC;
}

.tree > .tree-filter-empty {
	margin: 1rem;
	font-size: 1.1rem;
	padding: .5rem 2rem;
	border: 3px double #333;
}

.application--wrap {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

.application.theme--light {
  background: $grey;
	// background: url(/img/globe-bg.jpg) no-repeat top left;
  // background: #FFFBF0;
  // background: #FFF1E5;
  color: rgba(0,0,0,0.87);
	.v-navigation-drawer { background: $grey; }
	// .v-navigation-drawer { background: #FFE5CF; }
	.v-toolbar { background: #F2F2F3; }
}
.application.theme--light .text--primary {
  color: rgba(0,0,0,0.87) !important;
}
.application.theme--light .text--secondary {
  color: rgba(0,0,0,0.54) !important;
}
.application.theme--light .text--disabled {
  color: rgba(0,0,0,0.38) !important;
}
.application.theme--dark {
  background: #303030;
  color: #fff;
}
.application.theme--dark .text--primary {
  color: #fff !important;
}
.application.theme--dark .text--secondary {
  color: rgba(255,255,255,0.7) !important;
}
.application.theme--dark .text--disabled {
  color: rgba(255,255,255,0.5) !important;
}


//****************************** pivot table style ********************
.btn.btn-outline-primary {
	width: 130px;
	text-transform: uppercase;
	padding: 3px 1rem;
	outline: none;
	text-align: center;
	&:hover {
		background: #ccc;
	}
	&:active {
		outline: none;
		background: #eee;
	}
}
.table-responsive {
	width: 100%;
	position: relative;
}
.table.table-bordered {
	width: 100%;
	background: #fff;
	border-collapse: collapse;
	tbody {
	}
	th {
		text-align: center;
		border: 1px solid #ccc;
	}
	td {
		text-align: center;
		padding: .5rem 1rem;
		&.font-weight-bold {
			border: 1px solid #ccc;
		}
	}
}
.col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}
.row {
	display: flex;
}
.drag-area {
	min-width: 10rem;
}
.drag-area > div {
	cursor: move !important;
	flex: none !important;
	// background: yellow;
	.btn {
		width: 100%;
		background: $cool;
	}
}

.drag-area-label {
	position: absolute;
	padding: 0.75rem 1rem;
}

.d-flex > * {
	flex: none !important;
}
.flex-row {
	flex-direction: row!important;
}
.flex-column {
	flex-direction: column!important;
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s;
	// background: red;
}

.btn-draggable {
	white-space: normal;
	text-align: left;
}

.btn.btn-draggable.btn-primary {
	// background: red;
}
