@import 'settings';

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	// position: relative;
	// overflow: hidden;
}

.rel { position: relative; }

.bred {
	border: 1px solid red;
}

// this is my own animation

.slideX-enter-active, .slideX-leave-active {
	transition: all .3s ease;
	position: absolute;
	width: 100%;
}

.slideX-enter, .slideX-leave-to {
	transform: translateX(-50px);
	opacity: 0;
}

// tree styles **************************************** 
.tree-highlights .tree-node.matched > .tree-content {
  background: $yellow;
}
.tree > .tree-filter-empty {
	margin: 1rem;
	font-size: 1.1rem;
	padding: .5rem 2rem;
	border: 3px double #333;
}
