// theme colors ***********************
$primary:   #8AC140;
$secondary: #133C60;
$accent:    #82B1FF;
$error:     #D0021B;
$info:      #0195DA;
$success:   #8AC140;
$grey:      #E6E7E8;
$grey1:     #BDBDBD;
$grey2:     #828282;
$grey3:     #4F4F4F;
$grey4:     #333333;
$yellow:    #FEC01D;
 

.application.theme--light {
  background: $grey;
  color: rgba(0,0,0,0.87);
	.v-navigation-drawer { background: $grey; }
	.v-toolbar { background: #F2F2F3; }
}
.application.theme--light .text--primary {
  color: rgba(0,0,0,0.87) !important;
}
.application.theme--light .text--secondary {
  color: rgba(0,0,0,0.54) !important;
}
.application.theme--light .text--disabled {
  color: rgba(0,0,0,0.38) !important;
}
.application.theme--dark {
  background: #303030;
  color: #fff;
}
.application.theme--dark .text--primary {
  color: #fff !important;
}
.application.theme--dark .text--secondary {
  color: rgba(255,255,255,0.7) !important;
}
.application.theme--dark .text--disabled {
  color: rgba(255,255,255,0.5) !important;
}
