
.icon-up:before { content: '\e800'; } /* '' */
.icon-settings:before { content: '\e801'; } /* '' */
.icon-packet:before { content: '\e802'; } /* '' */
.icon-empty:before { content: '\e803'; } /* '' */
.icon-smile:before { content: '\e804'; } /* '' */
.icon-deadline:before { content: '\e805'; } /* '' */
.icon-loud:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-filter:before { content: '\e80d'; } /* '' */
.icon-close:before { content: '\e80e'; } /* '' */
.icon-arrow-down:before { content: '\e811'; } /* '' */
.icon-arrow-up:before { content: '\e813'; } /* '' */
.icon-eye1:before { content: '\e814'; } /* '' */
.icon-link:before { content: '\e818'; } /* '' */
.icon-book:before { content: '\e81c'; } /* '' */
.icon-prev:before { content: '\e822'; } /* '' */
.icon-next:before { content: '\e823'; } /* '' */
.icon-info:before { content: '\e826'; } /* '' */
.icon-new-window:before { content: '\e834'; } /* '' */
.icon-user:before { content: '\e835'; } /* '' */
.icon-folder-o:before { content: '\e836'; } /* '' */
.icon-folder:before { content: '\e837'; } /* '' */
.icon-check:before { content: '\e838'; } /* '' */
.icon-doc:before { content: '\e839'; } /* '' */
.icon-ham-d:before { content: '\e83a'; } /* '' */
.icon-skrepka:before { content: '\e83b'; } /* '' */
.icon-refresh:before { content: '\e83e'; } /* '' */
.icon-multi:before { content: '\e83f'; } /* '' */
.icon-basket:before { content: '\e840'; } /* '' */
.icon-microphone:before { content: '\e841'; } /* '' */
.icon-moon:before { content: '\e842'; } /* '' */
.icon-filter-active:before { content: '\e843'; } /* '' */
.icon-filter-remove:before { content: '\e844'; } /* '' */
.icon-done:before { content: '\e845'; } /* '' */
.icon-archive:before { content: '\e847'; } /* '' */
.icon-down:before { content: '\e848'; } /* '' */
.icon-star-full:before { content: '\e84a'; } /* '' */
.icon-star-empty:before { content: '\e84b'; } /* '' */
.icon-absentfile:before { content: '\e851'; } /* '' */
.icon-ndown:before { content: '\e852'; } /* '' */
.icon-nup:before { content: '\e853'; } /* '' */
.icon-nmiddle:before { content: '\e854'; } /* '' */
.icon-control-date:before { content: '\e855'; } /* '' */
.icon-tree:before { content: '\e856'; } /* '' */
.icon-sort:before { content: '\e857'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */